-# This file is app/views/static_pages/home.html.haml
%h1 Testing Haml views Help page

%p
  Get help on the Ruby on Rails Tutorial at the
  = succeed "." do
    %a{:href => "http://www.railstutorial.org/help"} Rails Tutorial help page
  = succeed "." do
    %a{:href => "http://www.railstutorial.org/book"}
      %em Ruby on Rails Tutorial
      book

